#include <iostream>

int main(){
    int xLen, yLen;
    std::string row;
    std::cin>>xLen>>yLen;
    std::string grid[xLen][yLen];
    for(int x=0;x<xLen;x++){
        std::cin>>row;
        for(int y=0;y<yLen;y++){
            std::cout<<row.substr(y,y+1);
        }
    }
   return 0;
}

