#include <iostream>
#include <string>

int main(){
    int xLen, yLen;
    std::string row;
    std::cin>>xLen>>yLen;
    std::string grid[xLen][yLen];
    row="abc";
    for(int x=0;x<xLen;x++){
        std::cin>>row;
        grid[x][0]=row.substr(0,1);
        //std::cout<<row.substr(0,1);
        for(int y=1;y<yLen;y++){
            //std::cout<<row.substr(y,y);
            grid[x][y]=row.substr(y,1);
        }//std::cout<<"\n";
    }
    for(int x=0;x<xLen;x++){
        for(int y=0;y<yLen;y++){
            if(grid[x][y]=="."&&(grid[x-1][y+1]=="*"||grid[x-1][y]=="*"||grid[x-1][y-1]=="*"||grid[x][y+1]=="*"||grid[x][y-1]=="*"||grid[x+1][y+1]=="*"||grid[x+1][y]=="*"||grid[x+1][y-1]=="*")){
                grid[x][y]="1";
            }else if(grid[x][y]=="."){
                grid[x][y]="0";
            }
            std::cout<<grid[x][y];
        }std::cout<<"\n";
    }
   return 0;
}
